html {
  background-color: #E4E9FD;
  background-image: -webkit-linear-gradient(65deg, #c4dfd7 50%, #E4E9FD 50%);
  min-height: 1000px;
  font-family: 'helvetica neue';
}

/* h1 {
  position: absolute;
  text-align: center;
} */

.res {
  position: absolute;
  width: 100%;
  text-align: center;
}

.section {
  padding: 300px 400px;
  text-align: center;
  position: absolute;
}

  /* <!-- <div class="section">
  <form action="/" method="post"></form>
      <div class="row g-3 align-items-center">
          <div class="col-auto">
              <label for="Cityinput">Enter City Name :</label>
          </div>
          <div class="col-auto">
              <input id="Cityinput" type="text" name="CityName">
          </div>
          <div class="col-auto">
              <button type="submit">GO!!</button>
          </div>
      </div>           
  </form>
</div> --> */